<?xml version="1.0" encoding="UTF-8"?>
<beans  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="true">

	<description>HttpInvoker 远程调用 </description>

	<bean id = "httpService" class = "org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name = "service">
			<ref bean = "remoteService"/>
		</property>
		<property name = "serviceInterface" value = "com.yjy.bsq.service.remote.IRemoteService">
		</property>
	</bean>
	<bean id = "remoteService" class = "com.yjy.bsq.service.remote.RemoteService"/>
	
</beans>