@charset "utf-8";
/* CSS Document */
.TREEmain_bg{ background-color:#f6f6f6; float:left; margin-left:20px; position:relative;}
.ft_bg{ background-color:#CCC; float:left;}
.first_tree{ float:left;}
.first_tree > li{ height:30xp; line-height:30px; text-indent:20px; font-size:14px; font-weight:bold; color:#FFF;
			background-color:#00a2ff;
			background: -ms-linear-gradient(top, #00a2ff 0, #0c69b0 100%);
    		background: -webkit-linear-gradient(top, #00a2ff 0, #0c69b0 100%);
			background: -moz-linear-gradient(top, #00a2ff 0, #0c69b0 100%);
			background: -o-linear-gradient(top, #00a2ff 0, #0c69b0 100%);
			background: linear-gradient(to bottom, #00a2ff 0, #0c69b0 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00a2ff, endColorstr=#0c69b0, GradientType=0);}
.TREE_arrow{  width:10px; height:10px; position:absolute; background-image:url(../images/public_image/arrow_1.png)}
.TREE2_arrow{  width:10px; height:10px; position:absolute; background-image:url(../images/public_image/arrow_2.png);}
.marG_1{ margin:10px 0 0 5px;}
.marG_2{ margin:10px 0 0 10px;}
.marG_3{ margin:10px 0 0 15px;}
.marG_4{ margin:10px 0 0 20px;}
.first_tree  li:hover{ color:#FFF; cursor:pointer;
			background-color:#ff8a00;
			background: -ms-linear-gradient(top, #ff8a00 0, #ff8a00 100%);
    		background: -webkit-linear-gradient(top, #ff8a00 0, #ff8a00 100%);
			background: -moz-linear-gradient(top, #ff8a00 0, #ff8a00 100%);
			background: -o-linear-gradient(top, #ff8a00 0, #ff8a00 100%);
			background: linear-gradient(to bottom, #ff8a00 0, #ff8a00 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8a00, endColorstr=#ff8a00, GradientType=0);}
.second_tree{ float:left; }
.second_tree > li{ height:30xp; line-height:30px; text-indent:25px; font-size:14px; color:#000;
			background-color:#eaeaea;
			background: -ms-linear-gradient(top, #eaeaea 0, #eaeaea 100%);
    		background: -webkit-linear-gradient(top, #eaeaea 0, #eaeaea 100%);
			background: -moz-linear-gradient(top, #eaeaea 0, #eaeaea 100%);
			background: -o-linear-gradient(top, #eaeaea 0, #eaeaea 100%);
			background: linear-gradient(to bottom, #eaeaea 0, #eaeaea 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#eaeaea, GradientType=0);}
.second_tree > li:hover{ background-color:#06C; color:#FFF; cursor:pointer;}
.third_tree{ float:left; }
.third_tree > li{ height:30xp; line-height:30px; text-indent:30px; font-size:14px; color:#000;
			background-color:#f6f6f6;
			background: -ms-linear-gradient(top, #f6f6f6 0, #f6f6f6 100%);
    		background: -webkit-linear-gradient(top, #f6f6f6 0, #f6f6f6 100%);
			background: -moz-linear-gradient(top, #f6f6f6 0, #f6f6f6 100%);
			background: -o-linear-gradient(top, #f6f6f6 0, #f6f6f6 100%);
			background: linear-gradient(to bottom, #f6f6f6 0, #f6f6f6 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6, endColorstr=#f6f6f6, GradientType=0);}
.third_tree > li:hover{ background-color:#06C; color:#FFF; cursor:pointer;}
.forth_tree{ float:left; display:none;}
.forth_tree > li{ height:30xp; line-height:30px; text-indent:35px; font-size:14px; color:#000;
			background-color:#d1d1d1;
			background: -ms-linear-gradient(top, #d1d1d1 0, #d1d1d1 100%);
    		background: -webkit-linear-gradient(top, #d1d1d1 0, #d1d1d1 100%);
			background: -moz-linear-gradient(top, #d1d1d1 0, #d1d1d1 100%);
			background: -o-linear-gradient(top, #d1d1d1 0, #d1d1d1 100%);
			background: linear-gradient(to bottom, #d1d1d1 0, #d1d1d1 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d1d1d1, endColorstr=#d1d1d1, GradientType=0);}
.forth_tree > li:hover{ background-color:#06C; color:#FFF; cursor:pointer;}
.fifth_tree{ float:left; display:none;}
.fifth_tree > li{ height:30xp; line-height:30px; text-indent:40px; font-size:14px; color:#000;
			background-color:#c6c6c6;
			background: -ms-linear-gradient(top, #c6c6c6 0, #c6c6c6 100%);
    		background: -webkit-linear-gradient(top, #c6c6c6 0, #c6c6c6 100%);
			background: -moz-linear-gradient(top, #c6c6c6 0, #c6c6c6 100%);
			background: -o-linear-gradient(top, #c6c6c6 0, #c6c6c6 100%);
			background: linear-gradient(to bottom, #c6c6c6 0, #c6c6c6 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c6c6c6, endColorstr=#c6c6c6, GradientType=0);}
.fifth_tree > li:hover{ background-color:#06C; color:#FFF; cursor:pointer;}